include README.txt
include AUTHORS
include LICENSE
include MANIFEST.in
include tests.py
include setup.py
recursive-include ioc *
recursive-include docs *
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]